<a href="https://colab.research.google.com/github/VitikaJain25/Data_Science/blob/master/MultipleTypesOfClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [20]:
from google.colab import files  #To read file from local
import io
uploaded = files.upload()   # To upload file from local.

data = pd.read_csv(io.BytesIO(uploaded['german_credit_data_dataset.csv']))

# Data of Customers of German bank and whether they are credit worthy or not?

Saving german_credit_data_dataset.csv to german_credit_data_dataset (1).csv

In [21]:
data.sample(10)
# Customer Type - '1' indicated Creditworthy and '2' indicates Not Creditworthy
# Data has many Categorical features

    checking_account_status  duration  ... foreign_worker customer_type
12                      A12        12  ...           A201             1
865                     A14        15  ...           A201             1
928                     A14        30  ...           A201             1
557                     A14        21  ...           A201             2
310                     A12        48  ...           A201             1
454                     A11        24  ...           A201             2
145                     A12        48  ...           A201             1
191                     A12        48  ...           A201             2
836                     A14        12  ...           A201             1
530                     A12        36  ...           A201             1

[10 rows x 21 columns]

In [22]:
data.shape

(1000, 21)

In [23]:
data.columns

Index(['checking_account_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings', 'present_employment', 'installment_rate',
       'personal', 'other_debtors', 'present_residence', 'property', 'age',
       'other_installment_plans', 'housing', 'existing_credits', 'job',
       'dependents', 'telephone', 'foreign_worker', 'customer_type'],
      dtype='object')

In [0]:
# We will remove the features which are not relevant
data.drop(['telephone', 'personal', 'present_residence', 'other_installment_plans'], axis = 1, inplace = True)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   checking_account_status  1000 non-null   object
 1   duration                 1000 non-null   int64
 2   credit_history           1000 non-null   object
 3   purpose                  1000 non-null   object
 4   credit_amount            1000 non-null   float64
 5   savings                  1000 non-null   object
 6   present_employment       1000 non-null   object
 7   installment_rate         1000 non-null   float64
 8   other_debtors            1000 non-null   object
 9   property                 1000 non-null   object
 10  age                      1000 non-null   float64
 11  housing                  1000 non-null   object
 12  existing_credits         1000 non-null   float64
 13  job                      1000 non-null   object
 14  dependents               1000 non-null   int64
 15  foreign_worker           1000 non-null   object
 16  customer_type            1000 non-null   int64
dtypes: float64(4), int64(3), object(10)
memory usage: 132.9+ KB

In [26]:
data['savings'].unique()

array(['A65', 'A61', 'A63', 'A64', 'A62'], dtype=object)

In [27]:
# Encoding savings valur from categorical to numeric
from sklearn.preprocessing import LabelEncoder

savings_dict = {'A65' : 0, 'A64' : 1, 'A63' : 2, 'A62' : 3, 'A61' : 4}
data['savings'].replace(savings_dict, inplace = True)
data.sample(5)

# As we know, savings data is ordinal, so we can set up a Label Encoder
# A64 is highest amount of savings
# A65 tells us that we do not have detail about the savings

    checking_account_status  duration  ... foreign_worker customer_type
613                     A11        24  ...           A202             1
677                     A12        72  ...           A201             2
62                      A12        36  ...           A201             2
891                     A14        15  ...           A201             1
223                     A14        24  ...           A201             1

[5 rows x 17 columns]

In [0]:
# For no order specified in data, (nominal data), we use one hot encoding
data = pd.get_dummies(data, columns = ['checking_account_status', 'credit_history', 'purpose', 'present_employment',  
                                       'other_debtors', 'property', 'housing', 'job', 'foreign_worker'])

In [29]:
data.shape

(1000, 48)

In [30]:
data.sample(5)

     duration  credit_amount  ...  foreign_worker_A201  foreign_worker_A202
487        24         3757.0  ...                    1                    0
429        18         1190.0  ...                    1                    0
306        30         4811.0  ...                    1                    0
76         42         3965.0  ...                    1                    0
986        42         6289.0  ...                    1                    0

[5 rows x 48 columns]

In [0]:
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [0]:
def naive_bayes(x_train, y_train):
  classifier = GaussianNB()
  classifier.fit(x_train, y_train)
  return classifier

In [0]:
# n_neighbors is a hyperparameter
def k_nearest_neighbors(x_train, y_train):
  classifier = KNeighborsClassifier(n_neighbors=10)
  classifier.fit(x_train, y_train)
  return classifier

In [0]:
def svc(x_train, y_train):
  classifier = SVC(kernel = 'rbf', gamma = 'scale')
  classifier.fit(x_train, y_train)
  return classifier

In [0]:
def decision_tree(x_train, y_train):
  classifier = DecisionTreeClassifier(max_depth = 6)
  classifier.fit(x_train, y_train)
  return classifier

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [0]:
X = data.drop('customer_type', axis = 1)
Y = data['customer_type']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [0]:
def build_and_train_classifier(x_train, y_train, classification_fn):
  model = classification_fn(x_train, y_train)
  y_pred = model.predict(x_test)

  train_score = model.score(x_train, y_train)
  test_score = accuracy_score(y_test, y_pred)

  print("Training Score: ", train_score)
  print("Test Score: ", test_score)

In [44]:
build_and_train_classifier(x_train, y_train, naive_bayes)

Training Score:  0.755
Test Score:  0.71

In [45]:
build_and_train_classifier(x_train, y_train, k_nearest_neighbors)

Training Score:  0.7425
Test Score:  0.67

In [46]:
build_and_train_classifier(x_train, y_train, svc)

Training Score:  0.70875
Test Score:  0.71

In [47]:
build_and_train_classifier(x_train, y_train, decision_tree)

Training Score:  0.84875
Test Score:  0.665