<a href="https://colab.research.google.com/github/VitikaJain25/Data_Science/blob/master/NaiveBayesClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [27]:
from google.colab import files  #To read file from local
import io
uploaded = files.upload()   # To upload file from local.

titanic_df = pd.read_csv(io.BytesIO(uploaded['titanic.csv']))

Saving titanic.csv to titanic (1).csv

In [28]:
titanic_df.sample(10)

      Survived  Pclass  ... Boat             Home/Destination
1147       0.0     3.0  ...  NaN                          NaN
1167       0.0     3.0  ...  NaN                          NaN
851        1.0     3.0  ...   11                          NaN
525        0.0     2.0  ...  NaN                 Hamilton, ON
701        0.0     3.0  ...  NaN                          NaN
589        1.0     2.0  ...   14         Cornwall / Akron, OH
719        1.0     3.0  ...   12          London Brooklyn, NY
978        1.0     3.0  ...   15                          NaN
611        1.0     3.0  ...   11  London, England Norfolk, VA
37         1.0     1.0  ...    9              Los Angeles, CA

[10 rows x 13 columns]

In [29]:
titanic_df.shape

(1310, 13)

In [0]:
# Lets just take 2 columns
titanic_df = titanic_df[['Sex', 'Survived']]

In [31]:
titanic_df.head()

      Sex  Survived
0  female       1.0
1    male       1.0
2  female       0.0
3    male       0.0
4  female       0.0

In [0]:
# We can see that the column 'Sex' has categorical values.
# Lets convert them to Category codes so that they are represented in form of numbers.
titanic_df['Sex'] = titanic_df['Sex'].astype('category', copy = False).cat.codes

In [33]:
# Females are represented with '0' and males are represented using '1'
titanic_df.head()

   Sex  Survived
0    0       1.0
1    1       1.0
2    0       0.0
3    1       0.0
4    0       0.0

In [34]:
# To check null values
titanic_df.isnull().sum()

Sex         0
Survived    1
dtype: int64

In [0]:
# To drop the records with null or missing values
titanic_df = titanic_df.dropna()

In [36]:
titanic_df.shape

(1309, 2)

In [0]:
features = titanic_df[['Sex']]
label = titanic_df['Survived']

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, label, test_size = 0.2)

In [39]:
x_train.shape, y_train.shape

((1047, 1), (1047,))

In [40]:
x_test.shape, y_test.shape

((262, 1), (262,))

In [0]:
model = GaussianNB()

In [42]:
model.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
y_pred = model.predict(x_test)

In [44]:
accuracy_score(y_test, y_pred)

0.7519083969465649

In [45]:
x_test['Actual Survived'] = y_test
x_test['Predicted Survived'] = y_pred

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
x_test.head()

      Sex  Actual Survived  Predicted Survived
1023    0              1.0                 1.0
779     0              0.0                 1.0
1170    1              0.0                 0.0
255     0              1.0                 1.0
1150    1              0.0                 0.0

In [0]:
x_test_men = x_test.loc[x_test['Sex'] == 1]
x_test_women = x_test.loc[x_test['Sex'] == 0]

In [48]:
# Accuracy of out model for making predictions for Men
accuracy_score(x_test_men['Actual Survived'], x_test_men['Predicted Survived'])

0.7818181818181819

In [49]:
# Accuracy of out model for making predictions for Women
accuracy_score(x_test_women['Actual Survived'], x_test_women['Predicted Survived'])

0.7010309278350515